


@media (max-width: 767px) {
  navbar {
    visibility: hidden;
  }

}

html, body {
margin: 0, !important;
padding: 0, !important;

}

p, h2 {
  color: #444;
}

p {
  font-size: 16px;
}


/* navbar */
.navbar {
  height: 40px;
  width: 100%;
}

nav ul{
    padding:0 0;
    background:transparent ;
    position:fixed;
}

.navbar a {
  color: white;
  font-size: 16px;
  outline-color: 1px white;
   height: 40px;
}

.nav>li>a:focus {
  background-color: transparent;
}

 .nav>li>a:hover {
  color: #555;
  background: transparent;
}
.nav {
transition-duration: 1s;
}



#opener { 
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("images/ny_aerial.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 900px;
      width: 110%;


}


#title-div {
  margin-top: 20%;
}
#title {
  height: 100px;
  font-size: 130px;
  width: 100%;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
 /*font-family: 'Special Elite', cursive;*/
  text-align: center;
  color: white;
  line-height: 100px;
  display:inline-block;
}

#subtitle {
  margin-top: 8%;
  font-size: 50px;
  width: 100%;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: white;

  display: inline-block;
}

.glyphicon-menu-down {
  margin-top: 10%;
  text-align: center;
  color: #EEF646;
  font-size: 40px;
  margin-left: 50%;

}

/* About Me */
.section-part {
  padding: 40px 0 60px 0;
  margin-right: 0px;
  padding-right: 0px;
  width: 110%;

}

.section-text {
  font-size: 16px;
}

#my-face {
  display: inline-block;
  float: left;
  margin: 0 20px 20px 0;
  width: 170px;
  border-radius: 50%
}

.section-header {
  font-family: Helvetica;
  font-size: 50px;
  text-align: center;
  margin: -15px;
  padding-bottom: 20px;
  margin-bottom: 0px;

}

/* Portfolio */


.contact-me, .about-me{

  background-color: #EEF646;
}

.portfolio img {
  width: 115%;

}
.portfolio-item {
  padding-left: 20px;
}

.portfolio-item:hover {
  padding-left: 18px;
  border-left: 2px solid #EEF646;

}


/* Contact me */

.contact-me .fa {
  margin: 10px;
  font-size: 50px;
  margin-left: 25%;
  color: #444;
}

.contact-me .fa:hover {
  color: #999;
}

.contact-me .subheader {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;

}

/* Footer */

.footer p{
  text-align: center;
  line-height: 60px;
  font-size: 12px;
}

.footer {
  background-color: #eee;
  height: 60px;
  margin: 0px;
  padding-bottom: -15px;
  width: 110%;
}


