

/**************************** Nav Bar**************************/
.nav a {
  color: #F0371E;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

/**************************** Header**************************/
.header h1 {
	color: #F0371E;
	font-size: 40px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	/*text-transform: lowercase;*/
	text-align: center;
}

.header h4 {
	text-align: center;
	color: #bdbdbd;
	padding-bottom: 20px;
	padding-top: -5px;
	border-bottom: #ddd 1px solid;
}

/****************************Intro**************************/

.intro .leftpic {
  background-image:url('images/partcivilengineer.jpg');
  height: 400px;
  opacity: 1.0;
  display: inline;
  margin: 10px 5px 20px -5px;
  float: left;
 text-align: right;
}

.intro .leftpic:hover {
	opacity: 0.8;
}

.intro .rightpic:hover {
	opacity: 0.8;
}

.intro .rightpic {
  background-image:url('images/partprogrammer.jpg');
  height: 400px;
  opacity: 1.0;
  display: inline;
  margin: 10px -5px 20px 5px;
  text-align: left;
  float: right;

}

.intro p {
	color: #ffffff;
	font-size: 20px;
  	font-weight: bolder;
  	font-family: Helvetica, sans-serif;
  	width: 100%;
  	margin-top:  225px;
  	text-shadow: 2px 2px 0 #000;
}

	
/****************************Hello**************************/
.hello h2 {
	text-align: center;
	color: #bdbdbd;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin: 5px 80px 10px 80px;
}

.hello h2 span {
	color: #F0371E;
}

/****************************Contact**************************/
.phone{
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: #bdbdbd;
	font-size: 24px;
}

.phone .item {
	background: #f5f5f5;
	border-radius: 10px;
	margin: 10px;
	display: block;
	text-align: center;
	height: 70%;
	width: 60%;
	min-width: 400px;
	margin-left: 20%;
	position: relative;
}

.phone span{
	color: #F0371E;
}

.contact{
	text-align: center;
}
.contact img {
	height: 50px;
	width: 50px;
	margin: 1px;
}

.contact li {
	display: inline;
	-webkit-filter: grayscale(0);
}

.contact li:hover {
	-webkit-filter: grayscale(.7);
}

.contact p{
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #F0371E;
	padding: 1px;
}

/****************************Titles**************************/
.sections {
	display: block;
}
.sections .title {
	
	border-bottom: #ddd 1px solid;
	
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #F0371E;
	margin-top: 20px;
	/*text-transform: lowercase;*/
	font-weight: bold;
	text-decoration: none;
	margin-left: 15px;
}

.sections .title p {
	margin-bottom: -5px;
}

/***************************My Projects**************************/

.myprojects img {
	max-height: 50%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 10px;
}

.myprojects {
	font-family: Helvetica, sans-serif;
	color: #939393;
	font-size: 14px;
	list-style-type: square;
}


.myprojects .item {
	background: #f5f5f5;
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
	height: 260px;
	width: 22%;
	min-width: 210px;
}

.myprojects ul {
	max-width: 95%;
	max-height: 95%;
	padding: 10px;
}

/****************************Work Experience**************************/
.workexperience img {
	max-height: 40%;
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.workexperience h4 {
	text-align: center;
}

.workexperience {
	font-family: Helvetica, sans-serif;
	color: #939393;
	font-size: 16px;
	list-style-type: square;
}


.workexperience .item {
	background: #f5f5f5;
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
	height: 260px;
	width: 30%;
	min-width: 280px;
}
.workexperience ul {
	max-width: 95%;
	max-height: 95%;
	padding: 10px;
	font-size: 14px;
}
/****************************Independent Course Work**************************/

.independent img {
	max-height: 50%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.independent {
	font-family: Helvetica, sans-serif;
	color: #939393;
	font-size: 14px;
	list-style-type: square;
}


.independent .item {
	background: #f5f5f5;
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
	height: 260px;
	width: 22%;
	min-width: 200px;
}

.independent ul {
	max-width: 95%;
	max-height: 95%;
	padding: 7px;
}

/***************************My Favorite Things**************************/
.myfavthings {
	font-family: Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
	text-align: center;
}


.myfavthings .item {
	background: #f5f5f5;
	border-radius: 10px;
	margin: 10px;
	margin-left: 100px;
	display: block;
	position: relative;
	height: 150px;
	width: 80%;
	min-width: 200px;
	display: block;
}
/***************************Footer**************************/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 60px; 
}
.footer {
  background: #F0371E;
  opacity: 0.7;
  margin-top: 20px;
}

.footer {

	background: #F0371E;
	opacity: 0.7;
	position: relative;
	display: block;
	margin-top: 20px;
	height: 60px;
	padding-top: 10px;
}


.footer p{
	color: white;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	padding: 12px;
}

/***************************Resume**************************/

iframe {
	width: 100%;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
}
