#ball {
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
}

#container {
  background-color: #eee;
  width: 1000px;
  height: 600px;
}

.brick {
  height: 20px;
  width: 100px;
  background-color:   #D02090;
  display: inline-block;
  margin: 5px;
}

#paddle {
  height: 5px;
  width: 100px;
  background-color:  blue;
  display: inline-block;
  position: absolute;
  top: 600px;


}

.hidden {
  visibility: hidden;
}